{
    "overrides": [{
        "files": ["*.json"],
        "parser": "eslint-plugin-json-es",
        "extends": "plugin:eslint-plugin-json-es/recommended"
    }],
    "rules":{
        "comma-dangle": ["error", "never"]
    }
}

