{
    "plugins": [
        "@zeitport/eslint-plugin-json-test"
    ],
    "overrides": [{
        "files": ["*.json"],
        "parser": "@zeitport/eslint-parser-json"
    }],
    "rules": {
        "@zeitport/json-test/no-underscore": ["error"]
    }
}

