{
    "plugins": [
        "eslint-plugin-json-es-test"
    ],
    "overrides": [{
        "files": ["*.json"],
        "parser": "eslint-plugin-json-es",
        "rules": {
            "json-es-test/no-underscore": ["error"]
        }
    }]
}

